* {
    box-sizing: border-box;
  }
  
.img_Event{
    
    width: 48%;
   
}
.body_Event{
    width: 48%;
    padding-top: 10%;
    border: 0.1px solid black;
    height: 400px;
    padding-top:60px;

}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1%;
    height: 450px;

    /* background-color: DodgerBlue; */
  }
  .event_description{
font-size: larger;

  }
  .img{
      height: 400px;
  }