#paintingHomeDiv .card {
    width: 800px;

  margin: 20px;
  margin-left: 70px;
}



#paintingHomeDiv #imageHome {
    height: 420px;
    width: 300px;
    border: 10px solid #a98960;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.9;
    box-shadow: 7px 10px 15px black;
  }
  
  #paintingHomeDiv #image:hover {
    height: 400px;
    width: 400px;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
    opacity: 1;
    transition: all 0.3s ease-in;
  }
  #shad{

    box-shadow: 10px 10px 15px  black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
  }