.Form {
  width: 40%;
  margin: auto;
  border-style: groove;
  padding: 2%;
}

.FormLabels {
  margin-right: 80%;
}
.feedBackButton {
  margin: 2%;
}

.formDiv {
  /* background-color: bisque; */
  background-color: #f3f0d7;

  margin-bottom: 2%;
}

.card {
  width: "18rem";
  margin: "auto";
  background-color: #cee5d0;
  /* #5E454B */
}

#cardFeedback {
  background-color: #f3f0d7;

  float: left;
  margin: auto;
  width: 25%;
  padding: 5px;
}

#footerId {
  clear: both;
}
